{%extends 'main/base.html'%}



{% block content %}

<h1>{{nameTable}}{{ls.name}}</h1>
<ul>
    <form method="post" name="taskForm" action="">
        {{form.as_p}}
        <button type="submit" name="save" value="newTask">Submit Name</button>
        <p></p>
        <p></p>
        {%csrf_token%}

        {% for item in sort %}
        {% if item.complete == False %}
        <li>
            {{item.text}} &emsp; due: {{item.taskDueDate}}
            <input type="checkbox" name="toggledItem" value="{{item.taskId}}" onchange="this.form.submit()">
        </li>
        {% endif %}
        {% endfor %}

        {% for item in sort %}
        {% if item.complete == True %}
        <li>
            {{item.text}} &emsp; due: {{item.taskDueDate}}
            <input type="checkbox" name="toggledItem" value="{{item.taskId}}" checked onchange="this.form.submit()">
        </li>
        {% endif %}
        {% endfor %}

        <p></p>
        <p></p>
    </form>
    <p>{{nameList}}</p>
</ul>
{%endblock%}
{% block extra_css %}
<style type="text/css">
    ul {
        list-style-type: none; 
        padding: 0;
        text-align: center;
        text-align: center;
        width: fit-content;    
        margin: 20px auto;
    }

    li {
        background-color: #547792;
        color: white;
        padding: 10px 15px;
        border-radius: 8px;
        margin: 10px auto; 
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        white-space: nowrap;
    }

    li input[type="checkbox"] {
        display: inline-block;
        width: auto;
        margin-left: 10px;
        vertical-align: middle;
    }
    
</style>
{% endblock %}